<%= for led_row <- 1..5 do %>
  <div class="column">

    <%= for led_col <- 1..5 do %>
      <% led_num = format_led_number(led_row, led_col) %>

      <div class="led-btn led-btn-<%= led_num %>">
        <div class="led-btn-tag">
          <div class="led-btn-tag-table">
            <div class="led-btn-tag-table-cell">
              <%= led_num %>
            </div>
          </div>
        </div>
      </div>

    <% end %>

  </div>
<% end %>
